!!!
%html
  %head
    %title Represent Example
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %header
      %h1 Represent Example

      %nav
        %pre= current_user.inspect

    %main= yield
